body {
  font-family: Arial, sans-serif;
  background-color: #d1e08c;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #a4e0c2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2cc987;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

button:hover {
  background-color: #39ce9c;
}
label[for="terminos"] {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #00BFFF;
  white-space: nowrap;
}

#terminos {
  margin-right: 5px;
  margin-left: 0;
}
.container2 {
  background-color: rgb(73, 177, 154);
  text-align: center;
  font-size: 24px;
  
}

.container2 p {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
}

.container2 img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}